<h2>1. checkbox</h2>

<form action="<%= value :action_path %>" target="main">
<p><%= checkbox :foo, 'id' => 'foo' %> <label for="foo">foo</label>,
   <%= checkbox :bar, 'id' => 'bar' %> <label for="bar">bar</label>,
   <%= checkbox :baz, 'id' => 'baz' %> <label for="baz">baz</label></p>
<p><%= submit :ok, :value => 'OK' %></p>
</form>

<h2>2. results</h2>

<% foreach :result_list do %>
  <p><%= value %></p>
<% end %>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
