<html>
<head>
<title>example</title>
</head>
<body>

<p>
  <em>example</em>
  <%= link Example::CodePanel, 'target' => 'main', :path_info => '/pagecache', :text => 'code' %>
  <%= link Example::ViewPanel, 'target' => 'main', :path_info => '/pagecache', :text => 'view' %>
</p>

<h1>page cache example</h1>

<% cond neg(:page_cache?) do %>
  <div style="border-style: solid; padding: 1ex 2ex ;color: red">
    <h2>warning</h2>
    <p>page cache is disabled. write this setting to
    <tt>config.rb</tt> to enable page cache.</p>
    <pre style="border-style: groove"
>    page_cache true</pre>
  </div>
<% end %>

<p>this page is created at <em><%= value :created_time %></em>.</p>
<p><%= link Example::PageCache, :text => 'reload this page.' %></p>
<form method="post" action="<%= value :action_path %>" target="main">
<p><%= submit :expire, :value => 'expire page cache.' %></p>
</form>

<address>
Author: <a href="mailto:toki@freedom.ne.jp">TOKI Yoshinori &lt;toki@freedom.ne.jp&gt;</a>
</address>
</body>
</html>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
