<h2>1. select</h2>

<form action="<%= value :action_path %>" target="main">
<h3>single select</h3>
<p><label for="foo">foo:</label>
   <%= select :foo, 'id' => 'foo' %>
</p>

<h3>multiple select</h3>
<p><label for="bar">bar:</label><br />
   <%= select :bar, 'id' => 'bar' %>
</p>

<p><%= submit :ok, :value => 'OK' %></p>
</form>

<h2>2. results</h2>
<p>foo: <%= value :foo %></p>
<p>bar: <%= value :bar_join %></p>

<%#
  Local Variables:
  mode: HTML
  indent-tabs-mode: nil
  End:
%>
